:root {
	/* 
    --------------- Font */
	--font-head: "Prata", serif; /* Heading */
	--font-body: "Inter", sans-serif; /* Body */
	/* 
    --------------- Color */
	--background-main: #0a0a0b; /* Main Background */
	--background-section: #2e3038; /* Section Background */
}

/*
--------------- Reset CSS */
/* Source : https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* 
---------------- Main CSS */
body {
	min-height: 100vh;
	background-color: var(--background-main);
	font-family: var(--font-body);
	color: white;
	padding: 3rem 9rem;
}
.nav {
	display: flex;
	align-items: center;
	font-size: 0.8rem;
}
.nav-title {
	font-family: var(--font-head);
	flex-basis: 30%;
	font-weight: 100;
}
.nav .nav-link {
	display: flex;
	flex-basis: 50%;
	font-family: var(--font-body);
	margin-left: 3rem;
	list-style: none;
}	
.nav .nav-link .nav__list {
	margin-left: 1.5rem;
}
.nav .nav__list a {
	text-decoration: none;
	color: #adadad;
	font-size: 1.2rem;
}
.nav .nav__button {
	width: 50%;
	font-family: var(--font-head);
	color: black;
	font-size: 1.2rem;
	text-align: center;
	background: #fbe850;
	flex-basis: 16%;
	padding: 1rem 1rem;
}

/* Test */
.test {
	font-family: var(--font-head);
}
