:root {
	/* 
    --------------- Font */
	--font-head: "Prata", serif; /* Heading */
	--font-body: "Inter", sans-serif; /* Body */
	/* 
    --------------- Color */
	--background-main: #0a0a0b; /* Main Background */
	--background-section: #2e3038; /* Section Background */
}

/*
--------------- Reset CSS */
/* Source : https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* 
---------------- Main CSS */
body {
	min-height: 100vh;
	background-color: var(--background-main);
	font-family: var(--font-body);
	color: white;
}
p {
	font-size: 1.12rem;
	color: #adadad;
	line-height: 1.8;
}
.container {
	padding-right: 9rem !important;
	padding-left: 9rem !important;
}
.nav {
	display: flex;
	align-items: center;
	font-size: 0.8rem;
	padding-top: 3rem;
}
.nav__title {
	font-family: var(--font-head);
	flex-basis: 30%;
	font-weight: 100;
}
.nav__list {
	display: flex;
	flex-basis: 50%;
	font-family: var(--font-body);
	margin-left: 3rem;
	list-style: none;
}
.nav__link:not(:last-child) {
	margin-right: 2rem;
}
.nav__list-item {
	text-decoration: none;
	color: #adadad;
	font-size: 1.2rem;
}
.button {
	width: 50%;
	font-family: var(--font-head);
	color: black;
	font-size: 1.2rem;
	text-align: center;
	background: #fbe850;
	flex-basis: 16%;
	padding: 1rem 1rem;
	cursor: pointer;
	text-decoration: none;
}

/* 
--------------- main section  */
.title {
	font-family: var(--font-head);
	font-weight: 100;
}
.main {
	margin: 5rem 0;
}
.main__title {
	width: 70%;
	font-family: var(--font-head);
	font-size: 3.5rem;
}
.main__description {
	width: 60%;
}
.main__logo {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 4rem 0;
}
.main__logo img {
	width: 6rem;
	height: 3.5rem;
}
.main__project {
	display: flex;
	gap: 3.5rem;
}
.main__project-card {
	display: flex;
	flex-direction: column;
	flex-basis: 50%;
}
.main__project-image {
	height: 280px;
}
.main__project-title {
	margin: 0.8rem 0 0.5rem;
}
.main__project-description {
	line-height: 1.5;
}

.introduction {
	display: flex;
	background: var(--background-section);
	padding: 4rem 0 4rem;
	gap: 3.5rem;
}
.introduction__card {
	flex-basis: 50%;
}
.introduction__title {
	font-size: 2.15rem;
	margin-bottom: 1rem;
}
.introduction__description {
	margin-top: 1.3rem;
	line-height: 1.5;
	font-weight: 400;
}
.join {
	display: flex;
	flex-direction: column;
	padding: 4rem 0;
}
.join__title {
	font-size: 2.2rem;
	/* margin-top: 2.5rem; */
}
.join__description {
	width: 51%;
	line-height: 1.5;
}
.join__button {
	width: 18%;
	margin: 1rem 0;
}

.footer {
	display: flex;
	justify-content: space-between;
	padding: 1.5rem 0;
	background: var(--background-section);
}
.footer__title {
	font-size: 1.2rem;
}
.footer__icon-group {
	display: flex;
	flex-basis: 10%;
}
.footer__social-icon:not(:first-child) {
	margin-left: 1rem;
}